<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Views/CSS/style.css">
</head>
<body>
<nav>
    <a class="HomeButton" id="Home" href="..">Aspen</a>
    <a class="AboutMe" href="../about">About me</a>
    <div class="dropdown">
        <a class="MyProjects" href="../projects">My projects</a>
        <div id="dropdown" class="dropdownContent">
            <a href="../projects.view.php" class="softwaredevelop">Software Development</a>
            <a href="../projects.view.php" class="mediaproj">Media</a>
        </div>
    </div>
    <a class="Downloads" href="../downloads">Downloads</a>
    <a class="Contact" href="../contact">Contact</a>
</nav>
</body>
</html>